server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  h2:
    console:
      enabled: true

app:
  internal:
    key: YC6U+9QLZrFN7WJrliPsj0NAq05E+4PaDKF4XAMRL9pEKIXWI8ovPzc8nKssTbP
